* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  max-width: 100%;
  color: #c5c5c5;
}
.row {
  padding: 0;
  margin: 0;
  border: none;
  max-width: 100%;
}
body {
  background-color: #1d1d1d;
}
#sideBar {
  padding: 0;
  height: 100vh;
  background-color: rgba(70, 66, 67, 0.88);
}
#sideTop {
  text-align: center;
  padding: 0;
  height: 70%;
}
#sideTop img {
  max-width: 60%;
  margin-top: 2.5vh;
}
#addRemovePlayer {
  padding: 0;
  height: 30%;
  text-align: center;
}
#addRemovePlayer h1 {
  font-size: 5em;
  cursor: pointer;
}
#main {
  padding: 0;
  background-color: #1d1915;
  height: 100vh;
}
#overallStats {
  padding: 0;
  height: 30%;
  border-bottom: solid 1px white;
}
#players {
  height: 70%;
  background-color: #1d1915;
}
.playerDiv {
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  border-right: solid 1px white;
}
