* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Zilla Slab', serif;
}
body {
  background-color: #fbfbfb;
}
.row {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
input[type='text'] {
  font-size: 1.2em;
  height: 1.6em;
  background-color: rgba(222, 222, 222, 0.61);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-left: .25em;
}
input[type="submit"] {
  font-size: 1.2em;
  height: 1.6em;
  padding: 0 .5em;
  border-radius: 5px;
  background-color: #93d293;
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
input[type="submit"]:active {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #8bc58b;
  outline: none;
}
h1 {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
}
h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  display: inline;
}
.topLabel {
  text-align: center;
}
.ui-datepicker-trigger {
  margin: 0 1em 0 .25em;
}
.matchRow {
  text-align: center;
  font-size: 1.5em;
  padding: .25em;
  background-color: #f3f3f3;
  border-bottom: white;
  max-width: 95vw;
  margin-left: 2vw;
  transition: all .25s;
}
.matchRow.currRow {
  margin-bottom: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.matchData {
  padding: .2em;
  border-radius: 5px;
}
.matchRow:nth-child(odd) {
  background-color: #9b9b9b;
}
.userName {
  transition: all .5s;
}
.userName.currP1 {
  background-color: #8bc58b;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
