body {
  padding: 0;
}
.mobileMenuButtons {
  display: none;
  position: fixed;
  height: 60px;
  margin: 2.5vh;
  width: 60px;
  border-radius: 50%;
  background-color: #6c9e6a;
  border: solid 2px white;
  z-index: 10;
}
#menuBtn {
  display: none;
  position: fixed;
  height: 60px;
  margin: 2.5vh;
  width: 60px;
  border-radius: 50%;
  background-color: #6c9e6a;
  border: solid 2px white;
  z-index: 10;
}
@media (max-width: 1000px) {
  #menuBtn {
    display: block;
  }
}
#closeModal {
  display: none;
  position: fixed;
  height: 60px;
  margin: 2.5vh;
  width: 60px;
  border-radius: 50%;
  background-color: #6c9e6a;
  border: solid 2px white;
  z-index: 10;
  right: 0;
  background-color: black;
  color: white;
  font-size: 2em;
  padding: .25em;
  z-index: 101;
}
#modalBg {
  background-color: rgba(0, 0, 0, 0.51);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 50;
}
