body {
  padding: 0;
}
#menuBtn {
  display: none;
  position: fixed;
  height: 60px;
  margin: 2.5vh;
  width: 60px;
  border-radius: 50%;
  background-color: #6c9e6a;
  border: solid 2px white;
  z-index: 10;
}
@media (max-width: 1000px) {
  #menuBtn {
    display: block;
  }
}
