#sideBar {
  position: absolute;
  left: 0;
  text-align: center;
  display: inline-block;
  height: 100vh;
  max-height: 100%;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: solid 1px white;
  padding-top: 1em;
  overflow: scroll;
}
#sideBar h2 {
  font-size: 2.5em;
}
#sideBar #menu {
  position: fixed;
  left: 2em;
  top: 2em;
  z-index: 100;
}
#sideBar .basicInputStyling {
  width: 60%;
  height: 1.5em;
  color: #1d1d1d;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: .75em .5em;
  border: solid 1px white;
  border-radius: 4px;
}
#sideBar form {
  margin: 2em 0;
}
#sideBar form input[type="text"],
#sideBar form input[type="password"] {
  width: 60%;
  height: 1.5em;
  color: #1d1d1d;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: .75em .5em;
  border: solid 1px white;
  border-radius: 4px;
}
#sideBar form select {
  width: 60%;
  height: 1.5em;
  color: #1d1d1d;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: .75em .5em;
  border: solid 1px white;
  border-radius: 4px;
}
#sideBar form select option {
  color: #767676;
}
#sideBar form input::placeholder {
  font-size: .9em;
}
#sideBar form button {
  color: #e7e7e7;
  border-radius: 5px;
  margin-top: 1vh;
  font-size: 2em;
  width: 30%;
  background-color: #6c9e6a;
  -webkit-transition: all .45s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .45s;
}
#sideBar form button:hover {
  color: black;
  background-color: #b7af86;
}
#sideBar .ledgerRules {
  text-align: left;
}
#sideBar .ledgerRules p::first-letter {
  font-size: 200%;
}
@media (max-width: 1000px) {
  #sideBar {
    margin: 0;
    text-align: center;
    width: 100%;
    border: 0;
    display: none;
  }
}
